.container{
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid orange;
}

.ninja {
    /* height: 100px; */
    width: 20%;
    margin: 5px;
    display: inline-block;
}

button {
    display: block;
    margin: 0.67em 0em;
    background-color: red;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}